.main{
    background-color: greenyellow;
    padding: 10px;
}
.sub{
    background-color: darkviolet;
    color: white;
    border: 5px solid brown;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

table{
    width: 100%;
    background-color: gray;
    border: 3px solid black;
}
td{
    border-bottom: 2px solid black;
  padding: 10px;
}
b{
    color: brown;
    background-color: white;
    padding: 20px;
}
input{
    padding: 10px;
    margin: 20px;
    width: 70%;
    font-weight: bold;
}
button{
    padding: 10px;
    font-weight: bold;
}